@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .profile_edit_input {
        @apply w-full rounded-lg border-none outline outline-1 outline-sky-500 font-light transition;

        &:focus {
            @apply outline-2 outline-sky-800;
        }
    }
}

@import "@fontsource/inter";

@media (orientation: landscape) {
  .landscape\:w-full {
    width: 100%;
  }

   .landscape\:h-full {
    height: 100%;
  }

  .landscape\:flex-row {
    flex-direction: row;
  }

  .landscape\:flex-col {
    flex-direction: column;
  }

  /* Add other utilities as needed */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;     
}